In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv('test.csv')

In [3]:
test_df.shape

(1387, 5)

In [4]:
test_df.head()

,id,original_text,lang,retweet_count,original_author
0,1.246628e+18,"3. Yeah, I once cooked potatoes when I was 3 y...",en,0,LToddWood
1,1.245898e+18,"Happy Mother's Day to all the mums, step-mums,...",en,0,iiarushii
2,1.244717e+18,"I love the people from the UK, however, when I...",en,0,andreaanderegg
3,1.245730e+18,Happy 81st Birthday Happy Mother’s Day to my m...,en,1,TheBookTweeters
4,1.244636e+18,Happy Mothers day to all those wonderful mothe...,en,0,andreaanderegg

In [5]:
test_file = pd.read_csv('test_file_1.csv')

In [6]:
test_file.shape

(1387, 4)

In [7]:
test_file.head()

,Unnamed: 0,id,cleaned_text,sentiment_class
0,0,1.246628e+18,0 Yeah I once cooked potatoes when I was 0 yea...,1
1,1,1.245898e+18,Happy Mothers Day to all the mums stepmums gra...,1
2,2,1.244717e+18,I love the people from the UK however when I a...,1
3,3,1.245730e+18,Happy 00st Birthday Happy Mothers Day to my mu...,1
4,4,1.244636e+18,Happy Mothers day to all those wonderful mothe...,1

In [8]:
test_file['sentiment_class'] = test_file['sentiment_class'] -1

In [9]:
test_file['sentiment_class']

0       0
1       0
2       0
3       0
4       0
       ..
1382    0
1383    0
1384    0
1385    0
1386    0
Name: sentiment_class, Length: 1387, dtype: int64

In [10]:
test_df1 = pd.concat([test_df['id'],test_file['sentiment_class']],axis=1)

In [11]:
test_df1.head()

             id  sentiment_class
0  1.246628e+18                0
1  1.245898e+18                0
2  1.244717e+18                0
3  1.245730e+18                0
4  1.244636e+18                0

In [12]:
test_df1.to_csv('submission_file1.csv',index=False)